*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}
body{
  background:#0f0f0f;
  color:#fff;
}
header{
  display:flex;
  justify-content:space-between;
  padding:15px 40px;
  background:#000;
  position:sticky;
  top:0;
}
header a{
  color:#fff;
  margin:0 10px;
  text-decoration:none;
}
.logo{
  font-weight:600;
  color:#ff9800;
}

.hero{
  height:90vh;
  background:linear-gradient(to right,#000,#222);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}
.hero h1{
  font-size:3rem;
}
.hero button{
  margin-top:20px;
  padding:12px 30px;
  background:#ff9800;
  border:none;
  font-size:16px;
  cursor:pointer;
}

section{
  padding:60px 40px;
  text-align:center;
}
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:20px;
  margin-top:30px;
}
.card{
  background:#1c1c1c;
  padding:25px;
  border-radius:10px;
  transition:.3s;
}
.card:hover{
  transform:translateY(-8px);
  background:#222;
}
.card span{
  display:block;
  margin-top:10px;
  color:#ff9800;
}

form{
  max-width:400px;
  margin:auto;
}
input,select,button{
  width:100%;
  padding:12px;
  margin:10px 0;
  border-radius:6px;
  border:none;
}
button{
  background:#ff9800;
  font-weight:600;
  cursor:pointer;
}

footer{
  background:#000;
  padding:15px;
  text-align:center;
  margin-top:40px;
}
